{% extends "base.html.twig" %}

{%  block head %}
    <title>Article</title>
    <meta name="description" content="">
    <link rel="canonical" href="" />
{% endblock %}

{%  block body %}

    <div class="container">

        {% if session.erreur == true %}
            <p style="margin-top: 10px;" class="{{ session.erreur.type }} alert text-center"><strong>{{ session.erreur.content }}</strong> <i class="fa fa-spinner fa-spin" style="font-size:20px"></i> </p>
        {% endif %}

    {% for article in article %}

        <div style="margin-top: 44px; margin-bottom: 20px;" class="card">
            <h5 class="card-header">{{ article.titre }}

                {% if session.role == 'admin' %}
                    <div class="dropdown show float-right">
                        <a class="btn btn-sm btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/administration/article-edit/{{ article.id }}/{{ session.token }}">Modifier</a>
                            <a class="dropdown-item" href="/administration/article-delete/{{ article.id }}/{{ session.token }}">Suprimer</a>
                        </div>
                    </div>
                {% endif %}

            </h5>

            <div class="card-body">
                <h5 class="card-title">{{ article.chapo }}</h5>
                <p class="card-text">{{ article.contenu }}</p>
                <em class="blockquote-footer float-right">{{ article.auteur }}</em>
            </div>
            <div class="card-footer text-muted">
                <em>Dernière modification {{ article.update }} </em>
            </div>
        </div>

    {% endfor %}


 {% if session.role == 'admin'  %}

       {% for comment in comment %}

            {% if comment.id >= 1 %}

           <div style="margin-bottom: 15px;" class="card">
                <div class="card-header">
                     {{ comment.auteur }}
                        <div class="dropdown show float-right">
                            <a class="btn btn-sm btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="/administration/commentaire-edit/{{ comment.id }}/{{ session.token }}">Modifier</a>
                                <a class="dropdown-item" href="/administration/commentaire-delete/{{ comment.id }}/{{ session.token }}">Suprimer</a>
                            </div>
                        </div>
                </div>

                <div class="card-body">
                  {% if comment.valider == 1 %}
                    <p class="card-text">{{ comment.contenu }}</p>
                    {% else %}
                    <p class="card-text">{{ comment.contenu }}</p>
                        <p class="card-text alert alert-danger text-center">  Commentaire pas encore valider <i class="fas fa-exclamation-triangle"></i></p>
                    {% endif %}
                </div>
            </div>

           {% endif %}

        {% endfor %}

   {% else %}

        {% for comment in comment %}

            {% if comment.valider == 1 %}

                <div style="margin-bottom: 15px;" class="card">
                    <div class="card-header">
                        {{ comment.auteur }}
                    </div>

                    <div class="card-body">
                        <p class="card-text">{{ comment.contenu }}</p>
                    </div>
                </div>

            {% endif %}

        {% endfor %}

{% endif %}


        <div style="margin-bottom: 150px;">
            <div class="card">
                <div class="card-header">
                    Laisser un commentaire
                </div>
                <div class="card-body">

                  {{ form_start(form) }}
                  {{ form_widget(form) }}
                  {{ form_end(form) }}

                </div>
            </div>
        </div>

    </div>

{% endblock %}